html,body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.main {
  width: 200px;
  height: 200px;
  margin: 60px auto;
  position: relative;
  perspective: 400px;
}
.box {
  position: absolute;
  width: 200px;
  height: 200px;
  font: 40px/200px bold;
  background-color: rgba(0, 170, 255, .3);
  border: 4px solid #0af;
  box-sizing: border-box;
  transform-origin: 50% 50% -100px;
}
.box2 {
  transform: rotateY(-90deg);
}
.box3 {
  transform: rotateY(-180deg);
}
.box4 {
  transform: rotateY(-270deg);
}
.box5 {
  transform: rotateX(90deg);
}
.box6 {
  transform: rotateX(-90deg);
}
@keyframes run1 {
  25% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  75% {
    transform: rotateY(-270deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes run2 {
  25% {
    transform: rotateY(-180deg);
  }
  50% {
    transform: rotateY(-270deg);
  }
  75% {
    transform: rotateY(-360deg);
  }
  100% {
    transform: rotateY(-450deg);
  }
}
@keyframes run3 {
  25% {
    transform: rotateY(-270deg);
  }
  50% {
    transform: rotateY(-360deg);
  }
  75% {
    transform: rotateY(-450deg);
  }
  100% {
    transform: rotateY(-540deg);
  }
}
@keyframes run4 {
  25% {
    transform: rotateY(-360deg);
  }
  50% {
    transform: rotateY(-450deg);
  }
  75% {
    transform: rotateY(-540deg);
  }
  100% {
    transform: rotateY(-630deg);
  }
}
@keyframes run5 {
  25% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateX(90deg);
  }
  75% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  100% {
    transform: rotateX(-360deg) rotateX(90deg);
  }
}
@keyframes run6 {
  25% {
    transform: rotateY(-90deg) rotateX(-90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateX(-90deg);
  }
  75% {
    transform: rotateY(-270deg) rotateX(-90deg);
  }
  100% {
    transform: rotateX(-360deg) rotateX(-90deg);
  }
}
.main:hover .box1 {
  animation: run1 8s forwards infinite linear;
}
.main:hover .box2 {
  animation: run2 8s forwards infinite linear;
}
.main:hover .box3 {
  animation: run3 8s forwards infinite linear;
}
.main:hover .box4 {
  animation: run4 8s forwards infinite linear;
}
.main:hover .box5 {
  animation: run5 8s forwards infinite linear;
}
.main:hover .box6 {
  animation: run6 8s forwards infinite linear;
}
