html,
body,
li,
h2,
h3 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0 15%;
}

header {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  background-color: #6bf;
  text-align: center;
}

section {
  position: relative;
  margin-left: 220px;
  min-width: 240px;
}

h1 {
  color: #fff;
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

li {
  font-size: 1.6rem;
}

span {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

.check {
  position: relative;
  font-size: 0;
  height: 3rem;
  line-height: 3rem;
}

.check input {
  position: relative;
  /* font-size: 1.4rem; */
  top: .1rem;
}

.check label {
  margin-right: 2rem;
  padding-left: .5rem;
  font-size: 1.4rem;
}

.box {
  /* top: 5rem; */
  position: relative;
  overflow: hidden;
}

.info {
  position: relative;
  margin-top: 30px;
}

.info .content {
  overflow: hidden;
}

.info li {
  margin-top: 10px;
}

.basic li,
.contact li {
  display: inline-block;
  margin-right: 40px;
}

.basic li h3,
.contact li h3 {
  display: inline-block;
  margin-right: 15px;
}